@font-face {
	font-family: "Borel-Regular";
	src: url(../fonts/Borel-Regular.ttf)
}
* {
	/* font-family: "Borel-Regular"; */
}
body{
background-color: #eeefe7;
color: black;
}

/* CARDS */

.card {
  margin: 15px 0; /* Adjust top and bottom spacing */
  transition: transform 0.3s;
  max-width: 100%; /* Set maximum width to take full available width */
  aspect-ratio: 2; /* Maintain square aspect ratio */
  overflow: hidden; /* Ensure content doesn't overflow */
  position: relative;
  color: black;
}

.card:hover {
  transform: scale(1.05);
}

.card-inner {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 1px solid #ddd;
	background-size: cover;
	background-position: center;
  }
  
  .card-content {
	flex: 1;
	padding: 15px; /* Adjust the padding for spacing */
	background-color: rgba(255, 255, 255, 0.85);
  }

@media (max-width: 992px) {
  .card {
    margin: 15px 0;
    max-width: 100%; /* Set maximum width to take full available width */
  }
}

@media (max-width: 768px) {
  .card {
    margin: 15px auto;
    max-width: 300px; /* Set maximum width to take full available width */
  }
}

@media (min-width: 1200px) {
  .row-cols-lg-3 .card {
    margin: 15px 0; /* Adjust top and bottom spacing for large screens */
    max-width: calc(33.33% - 30px); /* Distribute space evenly for 3 cards */
  }
}

@media (max-width: 575px) {
  .card {
    margin: 15px auto;
    max-width: 300px; /* Set maximum width to take full available width */
  }
}  

.custom-card {
	background-color: #ffffff; /* Change to your desired background color */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a shadow */
	color: none; /* Inherit the parent's text color */
	text-decoration: none; /* Remove underline, if any */
	border-radius: 20px; /* Increase or decrease as needed */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-date {
    margin-top: auto;
	margin-bottom: 0px; /* Adjust this value to increase or decrease the spacing */
	text-align: right;
}

.card-text {
    margin-top: 0px;
	margin-bottom: auto; /* Adjust this value to increase or decrease the spacing */
	text-align: left;
}

.card-title {

    margin-bottom: auto; /* Add some space between title and date */
	margin-top: 0px; /* Add some space between title and date */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* Limit to two lines */
	-webkit-box-orient: vertical;
	white-space: normal;
}

.nav-bottom {
	margin-top: auto;
}

/* Custom CSS to increase spacing between navigation items when the navbar is not collapsed */
@media (min-width: 768px) {
    .navbar-nav {
        margin-left: auto; /* Move the navigation items to the right */
    }
    
    .navbar-nav .nav-item {
        margin-right: 12px; /* Adjust the margin between navigation items */
    }
}

        /* Style for content container */
        .content-container {
            max-width: 800px; /* Adjust this value based on your design */
            margin: 0 auto; /* Center the container horizontally */
            padding: 20px; /* Add some padding for spacing */
            line-height: 1.5; /* Adjust line height for better readability */
        }
		
		/* Aspect ratio for cards with both .card and .card-photo classes (1:1) */
		.card.card-photo {
			aspect-ratio: 1;
			/* background-size: 100% 100%;  */ /*  Use this to stretch the images*/
			/* background-position: center;
			background-repeat: no-repeat; */
		}

.deadinside {
    pointer-events: none; /* Disable mouse events */
}

#current-year {
    font-size: smaller;
}

@media (max-width: 767px) {
    #current-year {
        font-size: 8px; /* Adjust this value for smaller screens */
    }
}
