@font-face {
	font-family: "Borel-Regular";
	src: url(../fonts/Borel-Regular.ttf)
}
* {
	font-family: "Borel-Regular";
}
h1 {

}
a:link{
	color: blue;
	text-decoration: none;
}
a:visited{
	color: blue;
	text-decoration: none;
}
a:hover{
	color: red;
	text-decoration: underline;
}
a:active{
	color: blue;
	text-decoration: none;
}